In [1]:
import numpy as np
import pandas as pd
import glob
import os

## Importing the data:

In [4]:
# Get local path:
path = os.getcwd()+"/train_data/"
print("path: "+ path+"\n")

path: /Users/hugo/Downloads/COMP_6321_PROJECT/train_data/

## Listing the training data from BIXI

In [5]:
# Listing files:
files = os.listdir(path)

# Times series must be chronologically sorted
files.sort()
for f in files:
    print(f)

OD_2014-04.csv
OD_2014-05.csv
OD_2014-06.csv
OD_2014-07.csv
OD_2014-08.csv
OD_2014-09.csv
OD_2014-10.csv
OD_2014-11.csv
OD_2015-04.csv
OD_2015-05.csv
OD_2015-06.csv
OD_2015-07.csv
OD_2015-08.csv
OD_2015-09.csv
OD_2015-10.csv
OD_2015-11.csv
OD_2016-04.csv
OD_2016-05.csv
OD_2016-06.csv
OD_2016-07.csv
OD_2016-08.csv
OD_2016-09.csv
OD_2016-10.csv
OD_2016-11.csv
OD_2017-04.csv
OD_2017-05.csv
OD_2017-06.csv
OD_2017-07.csv
OD_2017-08.csv
OD_2017-09.csv
OD_2017-10.csv
OD_2017-11.csv
OD_2018-04.csv
OD_2018-05.csv
OD_2018-06.csv
OD_2018-07.csv
OD_2018-08.csv
OD_2018-09.csv
OD_2018-10.csv
OD_2018-11.csv
Stations.csv

## Make a dataframe

In [11]:
# Put these in a single dataframe
li = []

for i in range(0, len(files) -1, 1):
    df = pd.read_csv(path+files[i], index_col = None, header = 0)
    li.append(df)

bixi_frame = pd.concat(li, axis = 0, ignore_index = True)

display(bixi_frame)

,Unnamed: 0,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time (LST),Year,Month,Day,Time (LST),...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
0,NaN,-73.58,45.5,MCTAVISH,7024745.0,2014-04-01 00:00,2014.0,4.0,1.0,00:00,...,NaN,NaN,NaN,101.51,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,-73.58,45.5,MCTAVISH,7024745.0,2014-04-01 01:00,2014.0,4.0,1.0,01:00,...,NaN,NaN,NaN,101.50,NaN,NaN,NaN,-2.0,NaN,NaN
2,NaN,-73.58,45.5,MCTAVISH,7024745.0,2014-04-01 02:00,2014.0,4.0,1.0,02:00,...,NaN,NaN,NaN,101.46,NaN,NaN,NaN,-3.0,NaN,NaN
3,NaN,-73.58,45.5,MCTAVISH,7024745.0,2014-04-01 03:00,2014.0,4.0,1.0,03:00,...,NaN,NaN,NaN,101.47,NaN,NaN,NaN,-5.0,NaN,NaN
4,NaN,-73.58,45.5,MCTAVISH,7024745.0,2014-04-01 04:00,2014.0,4.0,1.0,04:00,...,NaN,NaN,NaN,101.45,NaN,NaN,NaN,-5.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32203,NaN,-73.58,45.5,MCTAVISH,7024745.0,2018-11-30 19:00,2018.0,11.0,30.0,19:00,...,NaN,NaN,NaN,100.91,NaN,NaN,NaN,-1.0,NaN,NaN
32204,NaN,-73.58,45.5,MCTAVISH,7024745.0,2018-11-30 20:00,2018.0,11.0,30.0,20:00,...,NaN,NaN,NaN,100.92,NaN,NaN,NaN,-1.0,NaN,NaN
32205,NaN,-73.58,45.5,MCTAVISH,7024745.0,2018-11-30 21:00,2018.0,11.0,30.0,21:00,...,NaN,NaN,NaN,100.96,NaN,NaN,NaN,-1.0,NaN,NaN
32206,NaN,-73.58,45.5,MCTAVISH,7024745.0,2018-11-30 22:00,2018.0,11.0,30.0,22:00,...,NaN,NaN,NaN,101.01,NaN,NaN,NaN,-2.0,NaN,NaN
32207,NaN,-73.58,45.5,MCTAVISH,7024745.0,2018-11-30 23:00,2018.0,11.0,30.0,23:00,...,NaN,NaN,NaN,101.03,NaN,NaN,NaN,-1.0,NaN,NaN

## Import Weather Data

In [7]:
# Get local path:
path = os.getcwd()+"/train_data_weather/hourly/"
print("path: "+ path+"\n")

path: /Users/hugo/Downloads/COMP_6321_PROJECT/train_data_weather/hourly/

## Listing the hourly weather data

In [8]:
# Listing files:
files = os.listdir(path)

# Times series must be chronologically sorted
files.sort()
for f in files:
    print(f)

.DS_Store
2014_04_McTavish.csv
2014_05_McTavish.csv
2014_06_McTavish.csv
2014_07_McTavish.csv
2014_08_McTavish.csv
2014_09_McTavish.csv
2014_10_McTavish.csv
2014_11_McTavish.csv
2014_12_McTavish.csv
2015_04_McTavish.csv
2015_05_McTavish.csv
2015_06_McTavish.csv
2015_07_McTavish.csv
2015_08_McTavish.csv
2015_09_McTavish.csv
2015_10_McTavish.csv
2015_11_McTavish.csv
2015_12_McTavish.csv
2016_04_McTavish.csv
2016_05_McTavish.csv
2016_06_McTavish.csv
2016_07_McTavish.csv
2016_08_McTavish.csv
2016_09_McTavish.csv
2016_10_McTavish.csv
2016_11_McTavish.csv
2016_12_McTavish.csv
2017_04_McTavish.csv
2017_05_McTavish.csv
2017_06_McTavish.csv
2017_07_McTavish.csv
2017_08_McTavish.csv
2017_09_McTavish.csv
2017_10_McTavish.csv
2017_11_McTavish.csv
2017_12_McTavish.csv
2018_04_McTavish.csv
2018_05_McTavish.csv
2018_06_McTavish.csv
2018_07_McTavish.csv
2018_08_McTavish.csv
2018_09_McTavish.csv
2018_10_McTavish.csv
2018_11_McTavish.csv
2018_12_McTavish.csv

## Put the weather hourly data in a dataframe

In [10]:
# Put these in a single dataframe
li = []

for i in range(0, len(files) -1, 1):
    df = pd.read_csv(path+files[i], index_col = None, header = 0)
    li.append(df)

weather_frame = pd.concat(li, axis = 0, ignore_index = True)

display(weather_frame)

,Unnamed: 0,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time (LST),Year,Month,Day,Time (LST),...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
0,NaN,-73.58,45.5,MCTAVISH,7024745.0,2014-04-01 00:00,2014.0,4.0,1.0,00:00,...,NaN,NaN,NaN,101.51,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,-73.58,45.5,MCTAVISH,7024745.0,2014-04-01 01:00,2014.0,4.0,1.0,01:00,...,NaN,NaN,NaN,101.50,NaN,NaN,NaN,-2.0,NaN,NaN
2,NaN,-73.58,45.5,MCTAVISH,7024745.0,2014-04-01 02:00,2014.0,4.0,1.0,02:00,...,NaN,NaN,NaN,101.46,NaN,NaN,NaN,-3.0,NaN,NaN
3,NaN,-73.58,45.5,MCTAVISH,7024745.0,2014-04-01 03:00,2014.0,4.0,1.0,03:00,...,NaN,NaN,NaN,101.47,NaN,NaN,NaN,-5.0,NaN,NaN
4,NaN,-73.58,45.5,MCTAVISH,7024745.0,2014-04-01 04:00,2014.0,4.0,1.0,04:00,...,NaN,NaN,NaN,101.45,NaN,NaN,NaN,-5.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32203,NaN,-73.58,45.5,MCTAVISH,7024745.0,2018-11-30 19:00,2018.0,11.0,30.0,19:00,...,NaN,NaN,NaN,100.91,NaN,NaN,NaN,-1.0,NaN,NaN
32204,NaN,-73.58,45.5,MCTAVISH,7024745.0,2018-11-30 20:00,2018.0,11.0,30.0,20:00,...,NaN,NaN,NaN,100.92,NaN,NaN,NaN,-1.0,NaN,NaN
32205,NaN,-73.58,45.5,MCTAVISH,7024745.0,2018-11-30 21:00,2018.0,11.0,30.0,21:00,...,NaN,NaN,NaN,100.96,NaN,NaN,NaN,-1.0,NaN,NaN
32206,NaN,-73.58,45.5,MCTAVISH,7024745.0,2018-11-30 22:00,2018.0,11.0,30.0,22:00,...,NaN,NaN,NaN,101.01,NaN,NaN,NaN,-2.0,NaN,NaN
32207,NaN,-73.58,45.5,MCTAVISH,7024745.0,2018-11-30 23:00,2018.0,11.0,30.0,23:00,...,NaN,NaN,NaN,101.03,NaN,NaN,NaN,-1.0,NaN,NaN