In [2]:
import numpy as np
import pandas as pd
import glob
import os

## Importing the data:

In [3]:
# Get local path:
path = os.getcwd()+"/data/raw/"
print("path: "+ path+"\n")

path: /Users/hugo/Downloads/COMP_6321_PROJECT/data/raw/

## Listing the training data from BIXI

In [4]:
# Listing files:
files = os.listdir(path)

# Times series must be chronologically sorted
files.sort()
for f in files:
    print(f)

.DS_Store
.gitkeep
OD_2014-04.csv
OD_2014-05.csv
OD_2014-06.csv
OD_2014-07.csv
OD_2014-08.csv
OD_2014-09.csv
OD_2014-10.csv
OD_2014-11.csv
OD_2015-04.csv
OD_2015-05.csv
OD_2015-06.csv
OD_2015-07.csv
OD_2015-08.csv
OD_2015-09.csv
OD_2015-10.csv
OD_2015-11.csv
OD_2016-04.csv
OD_2016-05.csv
OD_2016-06.csv
OD_2016-07.csv
OD_2016-08.csv
OD_2016-09.csv
OD_2016-10.csv
OD_2016-11.csv
OD_2017-04.csv
OD_2017-05.csv
OD_2017-06.csv
OD_2017-07.csv
OD_2017-08.csv
OD_2017-09.csv
OD_2017-10.csv
OD_2017-11.csv
OD_2018-04.csv
OD_2018-05.csv
OD_2018-06.csv
OD_2018-07.csv
OD_2018-08.csv
OD_2018-09.csv
OD_2018-10.csv
OD_2018-11.csv
OD_2019-04.csv
OD_2019-05.csv
OD_2019-06.csv
OD_2019-07.csv
OD_2019-08.csv
OD_2019-09.csv
OD_2019-10.csv

## Make a dataframe

In [5]:
# Put these in a single dataframe
li = []

for i in range(2, len(files) -1, 1):
    df = pd.read_csv(path+files[i], index_col = None, header = 0)
    li.append(df)

bixi_frame = pd.concat(li, axis = 0, ignore_index = True)

display(bixi_frame)

/Users/hugo/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member
0,2014-04-15 00:01,6209,2014-04-15 00:18,6436,1061,1
1,2014-04-15 00:01,6214,2014-04-15 00:11,6248,615,1
2,2014-04-15 00:01,6164,2014-04-15 00:18,6216,1031,1
3,2014-04-15 00:01,6214,2014-04-15 00:24,6082,1382,1
4,2014-04-15 00:02,6149,2014-04-15 00:08,6265,347,1
...,...,...,...,...,...,...
25578782,2019-09-30 23:55:34,6184,2019-10-01 00:01:40,6140,365,1
25578783,2019-09-30 23:56:23,6213,2019-10-01 00:01:44,7038,321,1
25578784,2019-09-30 23:56:39,6080,2019-10-01 00:04:47,6402,487,1
25578785,2019-09-30 23:57:54,6070,2019-10-01 00:03:43,6701,349,1
25578786,2019-09-30 23:58:01,6923,2019-10-01 00:01:03,6270,182,1

# No more weather data

## Import Weather Data

In [ ]:
# Get local path:
#path = os.getcwd()+"/train_data_weather/hourly/"
#print("path: "+ path+"\n")

## Listing the hourly weather data

In [ ]:
# Listing files:
#files = os.listdir(path)

# Times series must be chronologically sorted
#files.sort()

## Put the weather hourly data in a dataframe

In [1]:
# Put these in a single dataframe
#li = []

#for i in range(0, len(files) -1, 1):
#    df = pd.read_csv(path+files[i], index_col = None, header = 0)
#    li.append(df)

#weather_frame = pd.concat(li, axis = 0, ignore_index = True)

#display(weather_frame)