## Packages

From https://www.youtube.com/watch?v=Al8m6K_stfA

In [1]:
# Imports to access data
import numpy as np
import pandas as pd
import glob
import os

In [2]:
# Imports from video

import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta
from pandas.plotting import register_matplotlib_converters
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.tsa.statespace.sarimax import SARIMAX
register_matplotlib_converters()
from time import time

## Importing the data

In [3]:
# Get local path:
path = os.getcwd()[:os.getcwd().find("Autoregressive")]+"/train_data/"

# Listing files:
files = os.listdir(path)

# Times series must be chronologically sorted
files.sort()

# Parser?
def parser(s):
    return datetime.strptime(s, '%Y-%m-%d %m:%s')

# Put these in a single dataframe
li = []
for i in range(0, len(files) -1, 1):
    df = pd.read_csv(path+files[i], index_col = None, header = 0, date_parser=parser, infer_datetime_format=True)
    li.append(df)
bixi_frame = pd.concat(li, axis = 0, ignore_index = True)

## Display data

In [4]:
display(bixi_frame)

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member
0,2014-04-15 00:01,6209,2014-04-15 00:18,6436,1061,1
1,2014-04-15 00:01,6214,2014-04-15 00:11,6248,615,1
2,2014-04-15 00:01,6164,2014-04-15 00:18,6216,1031,1
3,2014-04-15 00:01,6214,2014-04-15 00:24,6082,1382,1
4,2014-04-15 00:02,6149,2014-04-15 00:08,6265,347,1
...,...,...,...,...,...,...
20598132,2018-11-15 23:55,6154,2018-11-16 00:11,6211,924,1
20598133,2018-11-15 23:56,6184,2018-11-16 00:00,6164,258,1
20598134,2018-11-15 23:56,6734,2018-11-15 23:59,6324,197,1
20598135,2018-11-15 23:57,6255,2018-11-16 00:00,6270,207,1
20598136,2018-11-15 23:57,6248,2018-11-16 00:07,6017,565,1

## Accessing by date

In [7]:
start_date = datetime(2014, 4, 15, 0, 0)
end_date = datetime(2018, 11, 16, 0, 0)
lim_bixi_rentings = bixi_frame[start_date:end_date]

TypeError: cannot do slice indexing on RangeIndex with these indexers [2014-04-15 00:00:00] of type datetime

In [ ]:
plt.figure(figsize=(10, 4))
plt.plot(bixi_frame)
plt.title('Bixi rent', fontsize = 20)
plt.ylabel('Rentings', fontsize = 16)
for year in range(start_date.year, end_date.year):
    plt.axvline(pd.to_datetime(str(year)+'-01-01'), color='k', linestyle='--', alpha=0.2)

source: https://towardsdatascience.com/why-start-using-sktime-for-forecasting-8d6881c0a518